* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container {
    min-width: 320px;
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.color-orange {
    color: #ff9b51;
}

.upper {
    text-transform: uppercase;
}

.header {
    position: relative;
    height: 100vh;
    background: url('../img/offer_bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.nav {
    background-color: #000000;
    min-height: 72px;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation {
    width: 445px;
}

.link {
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.navigation__item {
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    opacity: 0.69;
}

/* section offer */

.offer {
    position: absolute;
    width: 100%;
    top: 110px;
    left: 0;
}

.offer__title {
    width: 518px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.offer__title::after {
    content: '';
    width: 74px;
    height: 3px;
    display: block;
    margin-top: 40px;
    background-color: #fff;
}

.offer__text {
    width: 470px;
    opacity: 0.8;
    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
}

.offer__btn {
    display: block;
    width: 140px;
    height: 40px;
    padding: 10px 30px;
    margin-top: 44px;
    background-color: transparent;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}

.offer__form {
    width: 360px;
    height: 363px;
    background-color: #ffffff;
    border-radius: 5px;
}

.form__title {
    padding: 18px 50px;
    background-color: #f5f5f5;
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}

input {
    display: block;
    width: 250px;
    margin-left: 50px;
    color: #bdbdbd;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    border: 1px transparent;
    height: 31px;
    border-bottom: 1px solid rgba(0, 0, 1, 0.16);
    /* box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16); */
}








